<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>dashboard</mat-icon> Desing
    </ng-template>
    <div class="content-tab">
      <div class="element-tab">
        <app-block-editor></app-block-editor>
      </div>
      <div class="element-tab">
        <app-block-editor></app-block-editor>
      </div>
      <div class="element-tab">
        <app-block-editor></app-block-editor>
      </div>
      <div class="element-tab">
        <app-block-editor></app-block-editor>
      </div>
      <div class="element-tab">
        <app-block-editor></app-block-editor>
      </div>
      <div class="element-tab">
        <app-block-editor></app-block-editor>
      </div>
      <div class="element-tab">
        <app-block-editor></app-block-editor>
      </div>
    </div>
  </mat-tab>
  <mat-tab class="tabs">
    <ng-template mat-tab-label>
      <mat-icon>palette</mat-icon> Body
    </ng-template>
    <div class="content-tab">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </mat-tab>
  
</mat-tab-group>
  